<h1> Subscriptions </h1>

<form action="/subscribe/" method="post">
	{{ form.csrf }}
	<div class="form-group">
		<label for="name">Name:</label>
		<input type="text" class="form-control" id="name" name="name">
		<br>
		<label for="channel">Game Channel:</label>
		<input type="text" class="form-control" id="channel" name="channel">
		<br>
	</div>
    <button name="subscribeBut" type="submit">Subscribe</button>
</form>

<br>
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}

	{% for message in messages %}
		{% if "Error" not in message[1]: %}
			<div class="alert alert-info">
				<strong>Success! </strong> {{ message[1] }}
			</div>
		{% endif %}

		{% if "Error" in message[1]: %}
			<div class="alert alert-warning">
				{{ message[1] }}
			</div>
		{% endif %}
	{% endfor %}
		{% endif %}
	{% endwith %}

<h2>Current Subscriptions</h2>
<div>
	<ul>
		{% for sub in subs %}
			<li>{{ sub }}</li>
		{% endfor %}
	</ul>
</div>
